﻿@{
    ViewBag.Title = "MFTAgent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Agents</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTAgent.js")"></script>
<link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
<div id="angular_Agent" data-ng-app="Agents">
    <div data-ng-controller="AgentController as Agt" data-ng-init="Agt.GetAgents()">
        <div class="container-fluid">
            <div>
                <p><br /></p>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <pagination total-items="Agt.resultsObj.totalItems"
                                data-ng-model="Agt.resultsObj.currentPage"
                                items-per-page="Agt.resultsObj.pageSize"
                                max-size="Agt.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="Agt.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{Agt.resultsObj.startRecord}} through {{Agt.resultsObj.endRecord}} out of {{Agt.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{Agt.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in Agt.resultsObj.availPageSizes">
                                    <a href data-ng-click="Agt.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                    <div class="pull-right">
                        <div class="col-xs-10">
                            <div class="right-inner-addon">
                                <input type="search" class="form-control" placeholder="Search" data-ng-model="Agt.search" />
                            </div>
                        </div>
                        <div class="pull-right btn-group btn-group-sm">
                            <button class="btn btn-primary" data-ng-click="Agt.GetAgents()" data-toggle="tooltip" title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-bordered table-striped">
                            <thead >
                                <tr>
                                    <th>
                                        <a href="#" data-ng-click="Agt.sortType = 'agentName';Agt.sortReverse=!Agt.sortReverse">
                                            Agent
                                            <span data-ng-show="Agt.sortType == 'agentName'" data-ng-class="{'fa':true,'fa-caret-down':!Agt.sortReverse,'fa-caret-up':Agt.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Agt.sortType = 'queueManager';Agt.sortReverse=!Agt.sortReverse">
                                            Queue Manager
                                            <span data-ng-show="Agt.sortType == 'queueManager'" data-ng-class="{'fa':true,'fa-caret-down':!Agt.sortReverse,'fa-caret-up':Agt.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Agt.sortType = 'AgentStatus';Agt.sortReverse=!Agt.sortReverse">
                                            Status
                                            <span data-ng-show="Agt.sortType == 'AgentStatus'" data-ng-class="{'fa':true,'fa-caret-down':!Agt.sortReverse,'fa-caret-up':Agt.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Agt.sortType = 'agentType';Agt.sortReverse=!Agt.sortReverse">
                                            Type
                                            <span data-ng-show="Agt.sortType == 'agentType'" data-ng-class="{'fa':true,'fa-caret-down':!Agt.sortReverse,'fa-caret-up':Agt.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Agt.sortType = 'agentDescription';Agt.sortReverse=!Agt.sortReverse">
                                            Description
                                            <span data-ng-show="Agt.sortType == 'agentDescription'" data-ng-class="{'fa':true,'fa-caret-down':!Agt.sortReverse,'fa-caret-up':Agt.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#">Properties</a>
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in Agt.resultsObj.currentResults.details | orderBy:Agt.sortType:Agt.sortReverse |filter:Agt.search">
                                <td>{{ item.agentName }}</td>
                                <td>{{ item.queueManager }}</td>
                                <td>
                                    <span data-ng-class="{'glyphicon':true, 'glyphicon-ok-circle' :  item.AgentStatus == 'STARTED','green-color' :  item.AgentStatus == 'STARTED'
        , 'glyphicon-minus-sign' :  item.AgentStatus == 'STOPPED' ,'red-color' :  item.AgentStatus == 'STOPPED','glyphicon-exclamation-sign':item.AgentStatus=='UNREACHABLE'
        , 'yellow-color' :  item.AgentStatus == 'UNREACHABLE' } " data-toggle="tooltip" title="{{item.AgentStatus}}"></span>
                                </td>
                                <td>{{ item.agentType }}</td>
                                <td>{{ item.agentDescription }}</td>
                                <td>
                                    <button class="btn btn-info" data-ng-click="Agt.ViewXML('Agent Properties',item)" data-toggle="tooltip" title="Click to view properties">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/ng-template" id="Processing.html">
        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
            <div class="modal-dialog modal-m">
                <div class="modal-content">
                    <div class="modal-header"><h3 style="margin:0;"></h3></div>
                    <div class="modal-body">
                        <h1>Processing...</h1><div class="progress progress-striped active" style="margin-bottom:0;">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="AgentDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="ViewXML.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div class="modal-body">
            <div style="padding:20px; width:850px; max-height: 400px; overflow:auto; text-wrap:wrap-word;">        
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>SourceTransferStates</b></td>
                        <td>{{dlgCtrl.details.SourceTransferStates}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentType</b></td>
                        <td>{{dlgCtrl.details.agentType}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentDeclaredHostName</b></td>
                        <td>{{dlgCtrl.details.agentDeclaredHostName}}</td>
        </tr>
                    <tr>
                        <td><b>AgentDescription</b></td>
                        <td>{{dlgCtrl.details.agentDescription}}</td>
                    </tr>
                    <tr>
                        <td><b>MaxQueuedTransfers</b></td>
                        <td>{{dlgCtrl.details.maxQueuedTransfers}}</td>
                    </tr>

                    <tr>
                        <td><b>AgentTimeZone</b></td>
                        <td>{{dlgCtrl.details.agentTimeZone}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentOsName</b></td>
                        <td>{{dlgCtrl.details.agentOsName}}</td>
                    </tr>
                    <tr>
                        <td><b>PublishTimeUTC</b></td>
                        <td>{{dlgCtrl.details.PublishTimeUTC}}</td>

                    <tr>
                        <td><b>AgentTraceLevel</b></td>
                        <td>{{dlgCtrl.details.agentTraceLevel}}</td>
                    </tr>
                    <tr>
                        <td><b>DestinationTransferStates</b></td>
                        <td>{{dlgCtrl.details.DestinationTransferStates}}</td>
                    </tr>
                    <tr>
                        <td><b>QueueManager</b></td>
                        <td>{{dlgCtrl.details.queueManager}}</td>

                    <tr>
                        <td><b>AgentProductVersion</b></td>
                        <td>{{dlgCtrl.details.agentProductVersion}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentStatusPublishRate</b></td>
                        <td>{{dlgCtrl.details.AgentStatusPublishRate}}</td>
                    </tr>
                    <tr>
                        <td><b>MaxSourceTransfers</b></td>
                        <td>{{dlgCtrl.details.maxSourceTransfers}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentStatus</b></td>
                        <td>{{dlgCtrl.details.AgentStatus}}</td>
                    </tr>
                    <tr>
                        <td><b>MaxDestinationTransfers</b></td>
                        <td>{{dlgCtrl.details.maxDestinationTransfers}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentName</b></td>
                        <td>{{dlgCtrl.details.agentName}}</td>
                    </tr>
                    <tr>
                        <td><b>CommandTimeUTC</b></td>
                        <td>{{dlgCtrl.details.CommandTimeUTC}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentInterfaceVersion</b></td>
                        <td>{{dlgCtrl.details.agentInterfaceVersion}}</td>
                    </tr>
                    <tr>
                        <td><b>AgentVersion</b></td>
                        <td>{{dlgCtrl.details.agentVersion}}</td>
                    </tr>
                    <tr>
                        <td><b>QueueManagerPort</b></td>
                        <td>{{dlgCtrl.details.queueManagerPort}}</td>
                    </tr>
                    <tr>
                        <td><b>QueueManagerHost</b></td>
                        <td>{{dlgCtrl.details.queueManagerHost}}</td>
                    </tr>
                    <tr>
                        <td><b>QueueManagerChannel</b></td>
                        <td>{{dlgCtrl.details.queueManagerChannel}}</td>
                    </tr>
                    <tr>
                        <td><b>ProtocolBridgeEndPoints</b></td>
                        <td>{{dlgCtrl.details.protocolBridgeEndPoints}}</td>
                    </tr>
                    <tr>
                        <td><b>ProtocolBridgeDefaultServerName</b></td>
                        <td>{{dlgCtrl.details.protocolBridgeDefaultServerName}}</td>
                    </tr>
                    <tr>
                        <td><b>ProtocolBridgeType</b></td>
                        <td>{{dlgCtrl.details.protocolBridgeType}}</td>
                    </tr>
                    <tr>
                        <td><b>ProtocolBridgeServerHost</b></td>
                        <td>{{dlgCtrl.details.protocolBridgeServerHost}}</td>
                    </tr>
                <tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
</div>

