﻿@{
    ViewBag.Title = "MFTHostConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Host Configuration</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTHostConfig.js")"></script>
<div id="angular_Container" data-ng-app="HOSTCFG">
    <div data-ng-controller="HostController as hostcfg" data-ng-init="hostcfg.GetHosts()">
       <div class="container-fluid">
         <div data-ng-show="hostcfg.showtable">
                <button class="btn btn-primary col-md-offset-10" 
                        data-ng-show="hostcfg.resultsObj.totalItems<1"
                        data-ng-click="hostcfg.CallAdd()">
                    <span class="glyphicon glyphicon-plus-sign"> New Host
                </span>
                </button>
            </div>
            <div class="col-md-4" data-ng-show="hostcfg.showadd">
                <br />
                <span class="label label-primary">Host Name</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Host_Name" />
                <span class="label label-primary">Host IP</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Host_IP" />
                <span class="label label-primary">Coordination QMGR</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Coord_Qmgr" />
                <span class="label label-primary">Coordination QMGR Port</span>
                <input class="form-control" type="number" data-ng-model="hostcfg.Host.Coord_Port" />
                <span class="label label-primary">Agent QMGR</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Agent_QMGR" />
                <span class="label label-primary">Agent QMGR Port</span>
                <input class="form-control" type="number" data-ng-model="hostcfg.Host.Agent_QMGR_Port" />
                <span class="label label-primary">Default Channel</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Default_Channel" />
                <span class="label label-primary">User ID</span>
                <input class="form-control" type="text" data-ng-model="hostcfg.Host.Userid" />
                <span class="label label-primary">Active</span>
                <input class="form-control" type="checkbox" data-ng-model="hostcfg.Host.active" data-ng-checked="hostcfg.Host.active=='Y'" data-ng-true-value="'Y'" data-ng-false-value="'N'" />
                <br />
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="hostcfg.PerformAddorUpdate()">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;{{hostcfg.savebuttonlabel}}
                            </button>
                            <span class="text-danger">&nbsp;</span>
                            <button type="button" class="btn btn-primary btn-sm" data-ng-click="hostcfg.Cancel()">
                                <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Cancel
                            </button>
            
              </div>
            <br />
            <div class="panel panel-primary" data-ng-show="hostcfg.showtable">
                <div class="panel-heading">
                    <pagination total-items="hostcfg.resultsObj.totalItems"
                                data-ng-model="hostcfg.resultsObj.currentPage"
                                items-per-page="hostcfg.resultsObj.pageSize"
                                max-size="hostcfg.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="hostcfg.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{hostcfg.resultsObj.startRecord}} through {{hostcfg.resultsObj.endRecord}} out of {{hostcfg.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href="" class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{hostcfg.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in hostcfg.resultsObj.availPageSizes">
                                    <a href="" data-ng-click="hostcfg.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-ng-show="false">id</th>
                                    <th>Host Name</th>
                                    <th>Host IP</th>
                                    <th>Coordination QMGR</th>
                                    <th>Coordination QMGR Port</th>
                                    <th>Agent QMGR</th>
                                    <th>Agent QMGR Port</th>
                                    <th>Default Channel</th>
                                    <th>User ID</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in hostcfg.resultsObj.currentResults.details">
                                <td data-ng-show="false">{{item.Host_ID}}</td>
                                <td>{{ item.Host_Name }}</td>
                                <td>{{ item.Host_IP }}</td>
                                <td>{{ item.Coord_Qmgr }}</td>
                                <td>{{ item.Coord_Port }}</td>
                                <td>{{ item.Agent_QMGR }}</td>
                                <td>{{ item.Agent_QMGR_Port }}</td>
                                <td>{{ item.Default_Channel }}</td>
                                <td>{{ item.Userid }}</td>
                                <td>{{item.Active}}</td>
                                <td class="col-md-1">
                                    <button class="btn btn-primary" data-ng-click="hostcfg.PerformEditAction(item)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                   <button class="btn btn-danger" data-ng-click="hostcfg.DeleteDialog(item)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="HostDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="DeleteDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">Please Confirm ...</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.heading}}</pre>
        </div>
        <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="dlgCtrl.Yes()">Yes</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">No</button>
        </div>
    </script>   


</div>
