﻿
@{
    ViewBag.Title = "MFTMonitorCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTMonitorCreation.js")"></script>

<form name="TransForm" data-ng-app="Trnstemplate" data-ng-controller="TransferTemplateController as TransTemplate" data-ng-init="TransTemplate.GetUserExits();TransTemplate.GetAgentandQMgr();TransTemplate.GetMonitors(); TransTemplate.Exits.InitExit();"  novalidate>

    <div class="container-fluid">
        <div class="col-md-12">
            <br />
            <div class="btn-group">

                <button type="button"   class="btn btn-primary " data-ng-click="TransTemplate.buildAction('One Time Transfer','transfer')">One Time Transfer</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary " data-ng-click="TransTemplate.buildAction('Schedule Transfer','schedule')">Schedule Transfer</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary " data-ng-click="TransTemplate.buildAction('Enter monitor name,type,source agent and destination agent','Create')">Create Monitor</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary " data-ng-click="TransTemplate.buildAction('Enter monitor name,type,source agent and destination agent','Edit')">Edit Monitor</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2> {{TransTemplate.selectedAction}} </h2>
            </div>
        </div>
        <div class="row">
                    <div class="panel panel-default panel-primary col-md-6" 
                         data-ng-show="TransTemplate.showMonitors && TransTemplate.Transdetails.Action=='Create'" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <label>Would you like to copy values from existing Monitor?</label>
                            </h4>
                        </div>
                        <div  class="panel-body bg-success">
                            <div class="btn-group">
                                <label class="btn btn-success" data-ng-model="TransTemplate.copymonitor" data-ng-click="TransTemplate.RefreshMonitorEntry('yes')" btn-radio="'yes'">Copy from existing monitor</label>
                                <label class="btn btn-warning" data-ng-model="TransTemplate.copymonitor" data-ng-click="TransTemplate.RefreshMonitorEntry('no')" btn-radio="'no'">Create new monitor</label>
                            </div>
                        </div>
                    </div>
            </div>




        @*<div class="row" data-ng-show="TransTemplate.showMonitors">
            <div class="col-md-6" data-ng-show="TransTemplate.Transdetails.Action=='Create'">
                <br />
                <label>Would you like to copy values from existing Monitor?</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="optyes" data-ng-model="TransTemplate.copymonitor" value="yes">Yes</label> &nbsp;&nbsp;
                <label><input type="radio" name="optno" data-ng-model="TransTemplate.copymonitor" value="no">No</label>
                <div class="btn-group">
                    <label class="btn btn-success" data-ng-model="TransTemplate.copymonitor" data-ng-click="TransTemplate.RefreshMonitorEntry('yes')" btn-radio="'yes'">Copy from existing monitor</label>
                    <label class="btn btn-danger" data-ng-model="TransTemplate.copymonitor" data-ng-click="TransTemplate.RefreshMonitorEntry('no')" btn-radio="'no'">Create new monitor</label>
                </div>
                <br>
            </div>
        </div>*@

        <div class="row">
                    <div class="panel panel-default panel-primary col-md-6" 
                         data-ng-show="TransTemplate.showMonitors && TransTemplate.Transdetails.Action =='Edit' || TransTemplate.showMonitors && TransTemplate.copymonitor=='yes'" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <label>Select Monitor</label>
                            </h4>
                        </div>
                        <div  class="panel-body bg-success">
                            <select class="form-control" data-ng-model="TransTemplate.selected_Monitor" 
                         data-ng-options="ddl.MonitorID as ddl.MonitorName for ddl in TransTemplate.Monitors | filter:{MonitorStatus:'Running'}"  
                        data-ng-change="TransTemplate.GetSelectedMonitordetails(TransTemplate.selected_Monitor)"><option value="">Select monitor</option></select>
                        </div>
                    </div>

        </div>


@*        <div class="row" data-ng-show="TransTemplate.showMonitors">
            <div>                
                <div class="col-md-4" data-ng-show="TransTemplate.Transdetails.Action =='Edit' || TransTemplate.copymonitor=='yes'">
                    <br>
                    <span class="label label-primary">Select</span>
                    <select class="form-control" data-ng-model="TransTemplate.selected_Monitor" 
                         data-ng-options="ddl.MonitorID as ddl.MonitorName for ddl in TransTemplate.Monitors"  
                        data-ng-change="TransTemplate.GetSelectedMonitordetails(TransTemplate.selected_Monitor)"><option value="">Select monitor</option></select>
                </div>
            </div>
        </div>*@

        <br />
    </div>
    <div class="container-fluid">
        <div data-ng-show="TransTemplate.showMonitorEntry" class="panel panel-default panel-primary">
            <div class="panel-heading">
                Transfer / Monitor Details
            </div>
            <br />
            <div class="container-fluid">
                <div class="col-md-6 bg-info">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseQ">Queue Manager</a>
                            </h4>

                        </div>
                        <div id="collapseQ" class="panel-body bg-success">
                            <span class="label label-primary">Source Queue Manager</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.SelSrc_QueMgr"
                                 data-ng-change="TransTemplate.GetAgentsAndQueues()" 
                                 data-ng-options="ddl as (ddl.QM_Name + '   [ ' + ddl.Host_Name + ' ] ') for ddl in TransTemplate.AgentandQMgrs.QMgrs">
                                <option value="">Select Queue Manager</option></select>
                            <span class="label label-primary">Target Queue Manager</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Trgt_QueMgr"
                                 data-ng-change="TransTemplate.GetAgentsAndQueues()" 
                                data-ng-options="ddl.QM_Name as (ddl.QM_Name + '   [ ' + ddl.Host_Name + ' ] ') for ddl in TransTemplate.AgentandQMgrs.QMgrs"><option value="">Select Queue Manager</option></select>
                        </div>
                    </div>
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_QueMgr != null && TransTemplate.Transdetails.Trgt_QueMgr != null">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">{{TransTemplate.TransType}}</a>
                            </h4>

                        </div>
                        <div id="collapse1" class="panel-body bg-success">
                           <div data-ng-hide="TransTemplate.Transdetails.Action == 'transfer' || TransTemplate.Transdetails.Action == 'schedule'">

                            <span class="label label-primary" data-ng-show="TransTemplate.Transdetails.Action !='transfer'">
                                Monitor Name</span>
                                <input class="form-control" type="text" maxlength="100" name="MN" data-ng-model="TransTemplate.Transdetails.Monitor_Name" placeholder="Enter Monitor Name" required data-ng-trim="false" data-ng-readonly="TransTemplate.Transdetails.Action=='Edit'" uppercase />
                                @*<span class="label-danger" ng-show="TransForm.MN.$error.required">*Required</span>*@
                            </div>
                            <span class="label label-primary">Type</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="optradio" data-ng-model="TransTemplate.Transdetails.resource_type" value="directory" data-ng-click="TransTemplate.Transdetails.Trg_condition='fileMatch'">Directory</label> &nbsp;&nbsp;
                            <label><input type="radio" name="optradio" data-ng-model="TransTemplate.Transdetails.resource_type" value="queue" data-ng-click="TransTemplate.Transdetails.Trg_condition='queueNotEmpty'">Queue</label>
                            <br>
                            <span class="label label-primary">Source Agent</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Src_Agent"  data-ng-change="TransTemplate.CheckAgents()" data-ng-options="ddl.Value as ddl.Name for ddl in TransTemplate.AgentandQMgrs.SourceAgents"><option value="">Select Source Agent</option></select>
                            <span class="label label-primary">Target Agent</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Trgt_Agent"  data-ng-change="TransTemplate.CheckAgents()" data-ng-options="ddl.Value as ddl.Name for ddl in TransTemplate.AgentandQMgrs.TargetAgents"><option value="">Select Target Agent</option></select>
                        </div>
                    </div>


                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_Agent != null && TransTemplate.Transdetails.Trgt_Agent!=null && TransTemplate.Transdetails.Action != 'transfer' && TransTemplate.Transdetails.Action != 'schedule'" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Parameters</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-body bg-success">
                            <span class="label label-primary">{{TransTemplate.Transdetails.resource_type}}</span>
                            <input data-ng-show="TransTemplate.Transdetails.resource_type=='directory'" type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.resource_info" placeholder="Enter {{TransTemplate.Transdetails.resource_type}}" />
                            <select data-ng-show="TransTemplate.Transdetails.resource_type=='queue'" class="form-control" data-ng-model="TransTemplate.Transdetails.resource_info" data-ng-options="Trans.Queues as Trans.Queues for Trans in TransTemplate.AllQueues"><option value="">Select Queue</option></select>
                            <br>
                            <span class="label label-primary">Poll Interval</span><br />
                            <input type="number" min="1" data-ng-model="TransTemplate.Transdetails.Poll_Interval" placeholder="Enter Poll Interval" /> &nbsp;&nbsp;<select data-ng-model="TransTemplate.Transdetails.Poll_Frequency" data-ng-options="Trans.Poll as Trans.Poll for Trans in TransTemplate.PollFrequency"></select>
                            <br>
                            <br />
                            <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.resource_type=='directory'">
                                <div class="panel-heading">File Matching</div>
                                <div class="panel-body bg-success">
                                    <span class="label label-primary">Match Pattern</span>
                                    <input type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.M_Pattern" placeholder="Enter match pattern" />
                                    <br>
                                    <span class="label label-primary">Exclude Pattern</span>
                                    <input type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.E_Pattern" placeholder="Enter pattern to exclude" />
                                    <br>
                                    <span class="label label-primary">Pattern Type</span>
                                    <select class="form-control" data-ng-model="TransTemplate.Transdetails.Pattern_type" data-ng-options="Trans.Type as Trans.Type for Trans in TransTemplate.PatternType"><option value="">Select Pattern Type</option></select>
                                    <br>
                                </div>
                            </div>
                        </div>                        

                    </div>

                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_Agent!=null && TransTemplate.Transdetails.Trgt_Agent!=null && TransTemplate.selectedAction == 'Schedule Transfer' " >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Schedule Parameters</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-body bg-success">
                            <span class="label label-primary">Timebase</span>
                            <select  class="form-control"data-ng-model="TransTemplate.Transdetails.Schedule.Timebase" data-ng-options="Trans.base as Trans.base for Trans in TransTemplate.Timebases"></select>
                           <br>
                            <span class="label label-primary">Schedule Interval</span><br />
                            <input type="number" min="1" data-ng-model="TransTemplate.Transdetails.Schedule.Interval" placeholder="Enter Interval" /> &nbsp;&nbsp;<select data-ng-model="TransTemplate.Transdetails.Schedule.Frequency" data-ng-options="Trans.Poll as Trans.Poll for Trans in TransTemplate.PollFrequency"></select>
                            <br /><br />
                            <span class="label label-primary">Start Time</span>
                            <input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Starttime" placeholder="yyyy-mm-ddThh:mm" />
@*                            <input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Starttime_date" placeholder="yyyy-mm-dd" />
                            <input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Starttime_time" placeholder="hh:mm" />*@
                            <br /><br />
                            <span class="label label-primary">End Time</span>
                            <input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Endtime" placeholder="yyyy-mm-ddThh:mm" />
                            @*<input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Endtime_date" placeholder="yyyy-mm-dd" />
                            <input  type="text" class="form-control" data-ng-model="TransTemplate.Transdetails.Schedule.Endtime_time" placeholder="hh:mm" />*@
                        </div>                        

                    </div>

                    @*TransTemplate.Transdetails.resource_info!=null*@
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_Agent!=null && TransTemplate.Transdetails.Trgt_Agent!=null">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseTrg">Trigger Condition</a>
                            </h4>

                        </div>
                        <div id="collapseTrg" class="panel-body bg-success">
                            <div data-ng-show="TransTemplate.Transdetails.resource_type=='queue'">
                                <span>Trigger Transfer when queue</span><br /><br />
                                <label><input type="radio" name="optone" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="queueNotEmpty">contains one or more messages</label> <br />
                                <label><input type="radio" name="optgroups" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="completeGroups">contains one or more complete groups</label>
                                <br>
                            </div>
                            <div data-ng-show="TransTemplate.Transdetails.resource_type=='directory'">
                                <span>Trigger Transfer when files</span><br /><br />
                                <label><input type="radio" name="optmatchptrn" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="fileMatch">match pattern</label> <br />
                                <label><input type="radio" name="optmatchptrnremain" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="fileSizeSame">match pattern and remains unchanged for  </label><span data-ng-show="TransTemplate.Transdetails.Trg_condition=='fileSizeSame'"><input type="number" min="1" data-ng-model="TransTemplate.Transdetails.polls" />polls</span><br />
                                <label><input type="radio" name="optmatchptrnfilesize" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="fileSize">match pattern and file size exceeds &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span data-ng-show="TransTemplate.Transdetails.Trg_condition=='fileSize'"><input type="number" min="1" data-ng-model="TransTemplate.Transdetails.polls" /><select data-ng-model="TransTemplate.Transdetails.filesizeb" data-ng-options="Trans.fvalue as Trans.fsize for Trans in TransTemplate.filesizebytes"></select></span><br />
                                <label><input type="radio" name="optmatchptrndonot" data-ng-model="TransTemplate.Transdetails.Trg_condition" value="fileNoMatch">do not match pattern</label> <br />
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_Agent!=null && TransTemplate.Transdetails.Trgt_Agent!=null">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseitems">Add items to the transfer</a>
                            </h4>
                        </div>
                        <div id="collapseitems" class="panel-body bg-success">
                            <span class="label label-primary">Transfer Mode</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="optbinary" data-ng-model="TransTemplate.Transdetails.Trans_Mode" value="binary">Binary transfer</label> &nbsp;&nbsp;
                            <label><input type="radio" name="opttext" data-ng-model="TransTemplate.Transdetails.Trans_Mode" value="text">Text transfer</label>
                            <br>

                            <span class="label label-primary">Source Type</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Source_type" data-ng-options="Trans.Type as Trans.Type for Trans in TransTemplate.type" data-ng-change="TransTemplate.CheckSourse_Target()"></select>
                            <br>
                            <span class="label label-primary">Source</span>
                            <input class="form-control" type="text" data-ng-model="TransTemplate.Transdetails.Src_file" placeholder="Enter source info" />
                            <label><input type="checkbox" name="chkRemove" data-ng-model="TransTemplate.Transdetails.Src_disposition" data-ng-checked="TransTemplate.Transdetails.Src_disposition=='delete'" data-ng-true-value="'delete'" data-ng-false-value="'leave'">Remove source file if the transfer is successful</label> <br />
                            <br />
                            <span class="label label-primary">Destination Type</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Dest_type" data-ng-options="Trans.Type as Trans.Type for Trans in TransTemplate.type" data-ng-change="TransTemplate.CheckSourse_Target()"></select>
                            <br>
                            <span class="label label-primary">Destination</span>
                            <input class="form-control" type="text" data-ng-model="TransTemplate.Transdetails.Trgt_file" placeholder="Enter destination info" />
                            <label><input type="checkbox" name="chkTrgtexists" data-ng-model="TransTemplate.Transdetails.Trgt_exists" data-ng-checked="TransTemplate.Transdetails.Trgt_exists=='overwrite'" data-ng-true-value="'overwrite'" data-ng-false-value="'error'">Overwrite files if present</label>
                            <br>
                        </div>
                    </div>
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Trgt_file!=null">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseoptions">Additional Options</a>
                            </h4>

                        </div>
                        <div id="collapseoptions" class="panel-body bg-success">
                            <span class="label label-primary">Job name</span><span class="red-color" data-ng-show="TransForm.JB.$error.required">*Required</span>
                            <input class="form-control" type="text" name="JB" data-ng-model="TransTemplate.Transdetails.Job_name" placeholder="Enter Job Name" required data-ng-trim="false" />
                            <br>
                            <span class="label label-primary">Transfer priority</span>
                            <input class="form-control" type="number" max="9" min="1" data-ng-model="TransTemplate.Transdetails.Trans_priority" />
                            <br>
                            <span class="label label-primary">Checksum</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Checksum" data-ng-options="Trans.Check as Trans.Check for Trans in TransTemplate.CheckSum"></select>
                            <br>
                            <span class="label label-primary">Reply Queue</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.reply_Queue" data-ng-options="Trans.Queues as Trans.Queues for Trans in TransTemplate.AllQueues"><option value="">Select Reply Queue</option></select>
                            <br>
                        </div>
                    </div>
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Trgt_file!=null">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapsemeta">Metadata Information</a>
                            </h4>
                        </div>
                        <div  id="collapsemeta" class="panel-body bg-success row"  >

                            <table class="table full-width">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Type</th>
                                        <th class="col-md-9">Value</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="exitdata in TransTemplate.Exits.List" >
                                        <td  class="col-md-2">{{exitdata.Type}}</td>
                                        <td> 
                                            <div style="word-wrap: break-word; width:350px;">
                                            {{exitdata.DetailsStr }}
                                            </div>
                                        </td>
                                        <td  class="col-md-1">
                                            <button class="btn btn-xs btn-danger"
                                                data-ng-click="TransTemplate.Exits.ClearExit($index)">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            @*<div class="row" >
                                <div class="col-md-2">Type</div>
                                <div class="col-md-10">Values</div>
                            </div>
                            <div class="row"  >
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    {{exitdata.DetailsStr}}
                                </div>
                            </div>*@
                            <br />
                            <label class="label label-primary">Add Exit</label>
                            <br />
                            <div class="btn-group">
                                <button class="btn btn-xs btn-info" data-ng-click="TransTemplate.Exits.EnterExit(0)" >Pre Source</button>
                                <button class="btn btn-xs btn-info" data-ng-click="TransTemplate.Exits.EnterExit(1)" >Post Source</button>
                                <button class="btn btn-xs btn-info" data-ng-click="TransTemplate.Exits.EnterExit(2)" >Pre Destination</button>
                                <button class="btn btn-xs btn-info" data-ng-click="TransTemplate.Exits.EnterExit(4)" >Post Destination</button>                                
                            </div>
                            <div class="panel panel-info container-fluid" data-ng-show="TransTemplate.Exits.ExitType != null ">                            
                                <br />
                            <div data-ng-show="TransTemplate.Exits.ExitType == 0">
                                <span class="label label-primary">Pre Source</span>
                                <select class="form-control" data-ng-Change="TransTemplate.Exits.ExitChanged()"
                             data-ng-options="Trans as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PreSrc'}"  
                              data-ng-model="TransTemplate.Exits.SelectedExit"  ><option value="">Select Pre Source</option></select>
                            </div>
                            <div data-ng-show="TransTemplate.Exits.ExitType == 1">
                                <span class="label label-primary">Post Source</span>
                                <select class="form-control"  data-ng-Change="TransTemplate.Exits.ExitChanged()"
                             data-ng-options="Trans as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PostSrc'}"  
                           data-ng-model="TransTemplate.Exits.SelectedExit"  ><option value="">Select Post Source</option></select>
                            </div>
                            <div data-ng-show="TransTemplate.Exits.ExitType == 2">
                                <span class="label label-primary">Pre Destination</span>
                            <select class="form-control"  data-ng-Change="TransTemplate.Exits.ExitChanged()"
                             data-ng-options="Trans as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PreDst'}"  
                            data-ng-model="TransTemplate.Exits.SelectedExit" ><option value="">Select Pre Destination</option></select>
                            </div>
                            <div data-ng-show="TransTemplate.Exits.ExitType == 3">
                                <span class="label label-primary">Post Destination</span>
                            <select class="form-control"  data-ng-Change="TransTemplate.Exits.ExitChanged()"
                             data-ng-options="Trans as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PostDst'}"  
                           data-ng-model="TransTemplate.Exits.SelectedExit"  ><option value="">Select Post Destination</option></select>
                            </div>
                            <div data-ng-show="TransTemplate.Exits.NewExitDetails != null && TransTemplate.Exits.NewExitDetails.Name !='' ">
                                <div data-ng-repeat="extprm in TransTemplate.Exits.NewExitDetails.Params">
                                    <div class="col-md-3">
                                        {{extprm.Name}}
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" data-ng-model="extprm.Value" />
                                    </div>                                     
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-9">
                                    <button type="button"  class="btn btn-info btn-xs"
                                        data-ng-click="TransTemplate.Exits.SaveExit()">Add Exit Values</button>
                                <button type="button"  class="btn btn-info btn-xs"
                                        data-ng-click="TransTemplate.Exits.CancelExit()">Cancel</button>
                                </div>
                                <br /><br />
                            </div>
                        </div>
                            @*<span class="label label-primary">Pre Source</span>
                                <select class="form-control" data-ng-model="TransTemplate.Transdetails.Pre_Src" 
                             data-ng-options="Trans.UserExit_detail as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PreSrc'}"  
                            ><option value="">Select Pre Source</option></select>

                            <br>
                            <span class="label label-primary">Post Source</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Post_Src" 
                             data-ng-options="Trans.UserExit_detail as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PostSrc'}"  
                            ><option value="">Select Post Source</option></select>
                            <br>
                            <span class="label label-primary">Pre Destination</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Pre_dest" 
                             data-ng-options="Trans.UserExit_detail as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PreDst'}"  
                            ><option value="">Select Pre Destination</option></select>
                            <br>
                            <span class="label label-primary">Post Destination</span>
                            <select class="form-control" data-ng-model="TransTemplate.Transdetails.Post_dest" 
                             data-ng-options="Trans.UserExit_detail as Trans.UserExit_detail for Trans in TransTemplate.UserExits  | filter:{UserExit_type:'PostDst'}"  
                            ><option value="">Select Post Destination</option></select>*@
                            <br>
                            <br>
                        </div>
                    </div>
                    <div data-ng-show="TransTemplate.Transdetails.Job_name!=null">
                        <button type="button" class="btn btn-primary btn-sm center-block" data-ng-click="TransTemplate.buildMonitor()" data-toggle="tooltip" title="Click to submit">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;Submit
                        </button>
                        <br />
                    </div>
                    <div><br /></div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseT">Entered (Transfer / Monitor) details</a>
                            </h4>

                        </div>
                    <div class="panel panel-default panel-primary" data-ng-show="TransTemplate.Transdetails.Src_QueMgr!=null && TransTemplate.Transdetails.Trgt_QueMgr!=null">
                        <div id="collapseT" class="panel-body bg-success" >
                            <pre>
    <span>Monitor Name : {{TransTemplate.Transdetails.Monitor_Name}}</span>
    <span>Source Queue Manager : {{TransTemplate.Transdetails.Src_QueMgr}}</span>
    <span>Source Hostname : {{TransTemplate.Transdetails.Src_HostName}}</span>
    <span>Source Host IP : {{TransTemplate.Transdetails.Src_HostIP}}</span>
    <span>Source Channel : {{TransTemplate.Transdetails.Src_Channel}}</span>
    <span>Source Port : {{TransTemplate.Transdetails.Src_Port}}</span>
    <span>Source User : {{TransTemplate.Transdetails.Src_UserID}}</span>
    <span>Source Agent : {{TransTemplate.Transdetails.Src_Agent}}</span>
    <span>Target Queue Manager : {{TransTemplate.Transdetails.Trgt_QueMgr}}</span>
    <span>Destination Agent : {{TransTemplate.Transdetails.Trgt_Agent}}</span>
    <span>Type : {{TransTemplate.Transdetails.resource_type}}</span>
    <span>{{TransTemplate.Transdetails.resource_type}} : {{TransTemplate.Transdetails.resource_info}}</span>
    <span>Poll Interval : {{TransTemplate.Transdetails.Poll_Interval}} {{TransTemplate.Transdetails.Poll_Frequency}}</span>
    <span>Transfer Mode : {{TransTemplate.Transdetails.Trans_Mode}}</span>
    <span>Source Type : {{TransTemplate.Transdetails.Source_type}}</span>
    <span>Source File Name : {{TransTemplate.Transdetails.Src_file}}</span>
    <span>Destination Type : {{TransTemplate.Transdetails.Dest_type}}</span>
    <span>Destination File Name : {{TransTemplate.Transdetails.Trgt_file}}</span>
    <span>Job Name : {{TransTemplate.Transdetails.Job_name}}</span>
    <span>Transfer Priority : {{TransTemplate.Transdetails.Trans_priority}}</span>
    <span>Checksum : {{TransTemplate.Transdetails.Checksum}}</span>
    <span>Reply Queue : {{TransTemplate.Transdetails.reply_Queue}}</span>
    <span>Pre Src : {{TransTemplate.Transdetails.Pre_Src}}</span>
    <span>Post Src : {{TransTemplate.Transdetails.Post_Src}}</span>
    <span>Pre Dest : {{TransTemplate.Transdetails.Pre_dest}}</span>
    <span>Post Dest : {{TransTemplate.Transdetails.Post_dest}}</span>
    <span>Schedule Timebase : {{TransTemplate.Transdetails.Schedule.Timebase}}</span>
    <span>Frequency : {{TransTemplate.Transdetails.Schedule.Interval}}&nbsp; {{TransTemplate.Transdetails.Schedule.Frequency}}</span>
    <span>Start Time : {{TransTemplate.Transdetails.Schedule.Starttime}}</span>
    <span>Ent Time : {{TransTemplate.Transdetails.Schedule.EWndtime}}</span>
                        </pre>                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="TransTempDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

</form>

