﻿@{
    ViewBag.Title = "MFTMonitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monitors</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTMonitor.js")"></script>

<div id="angular_Monitor" data-ng-app="Monitors">
    <div data-ng-controller="MonitorController as Mntr" data-ng-init="Mntr.GetMonitors()">
        <div class="container-fluid">
            <div>
                <div data-ng-show="'true'">
                    <a href="@Url.Action("Transfers", "MFT")" class="btn btn-primary col-md-offset-10"><span class="glyphicon glyphicon-plus-sign"> New Monitor</span></a>
                </div>
            </div>
            <br />
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <pagination total-items="Mntr.resultsObj.totalItems"
                                data-ng-model="Mntr.resultsObj.currentPage"
                                items-per-page="Mntr.resultsObj.pageSize"
                                max-size="Mntr.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="Mntr.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{Mntr.resultsObj.startRecord}} through {{Mntr.resultsObj.endRecord}} out of {{Mntr.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{Mntr.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in Mntr.resultsObj.availPageSizes">
                                    <a href data-ng-click="Mntr.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                    <div class="pull-right col-md-3">
                        <div class="col-xs-9">
                            <div class="right-inner-addon">
                                <label class="btn btn-info btn-sm" data-ng-show="Mntr.HideStatus!=' '"  data-ng-model="Mntr.HideStatus"  btn-radio="' '">Show All Monitors</label>
                                <label class="btn btn-info  btn-sm" data-ng-show="Mntr.HideStatus==' '"  data-ng-model="Mntr.HideStatus"  btn-radio="'Stopped'">Show Active Monitors</label>
                                @*Show All Monitors <input  type="checkbox" data-ng-model="Mntr.HideStatus" 
                                     data-ng-checked="Mntr.HideStatus==' '" 
                                    data-ng-true-value="' '" data-ng-false-value="'Stopped'" />*@
                                @*<input type="search"
                                       class="form-control"
                                       placeholder="Search" data-ng-model="Mntr.search" />*@
                            </div>
                        </div>
                        <div class="pull-right btn-group btn-group-sm">
                            <button class="btn btn-primary" data-ng-click="Mntr.RefreshMonitor()" data-toggle="Refresh" title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="#" data-ng-click="Mntr.sortType = 'MonitorName';Mntr.sortReverse=!Mntr.sortReverse">
                                            Monitor Name
                                            <span data-ng-show="Mntr.sortType == 'MonitorName'" data-ng-class="{'fa':true,'fa-caret-down':!Mntr.sortReverse,'fa-caret-up':Mntr.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Mntr.sortType = 'QueueManagerName';Mntr.sortReverse=!Mntr.sortReverse">
                                            Queue Manager Name
                                            <span data-ng-show="Mntr.sortType == 'QueueManagerName'" data-ng-class="{'fa':true,'fa-caret-down':!Mntr.sortReverse,'fa-caret-up':Mntr.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Mntr.sortType = 'AgentName';Mntr.sortReverse=!Mntr.sortReverse">
                                            Agent
                                            <span data-ng-show="Mntr.sortType == 'AgentName'" data-ng-class="{'fa':true,'fa-caret-down':!Mntr.sortReverse,'fa-caret-up':Mntr.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Mntr.sortType = 'MonitorStatus';Mntr.sortReverse=!Mntr.sortReverse">
                                            Status
                                            <span data-ng-show="Mntr.sortType == 'MonitorStatus'" data-ng-class="{'fa':true,'fa-caret-down':!Mntr.sortReverse,'fa-caret-up':Mntr.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th  >
                                        XML
                                    </th>
                                    <th  class="col-md-2" >
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in Mntr.resultsObj.currentResults.details | orderBy:Mntr.sortType:Mntr.sortReverse |filter: {MonitorStatus: '!' + Mntr.HideStatus} ">
                                <td>{{ item.MonitorName }}</td>
                                <td>{{ item.QueueManagerName }}</td>
                                <td>{{ item.AgentName + "[ " + item.AgentStatus + " ]" }}</td>
                                <td>{{ item.MonitorStatus }}</td>
                                <td>
                                    <button class="btn btn-info" data-ng-click="Mntr.XmlDialog(item)" data-toggle="tooltip" title="Show XML">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>
                                <td class="col-md-2" data-ng-show="item.AgentStatus== 'STARTED' ||  item.AgentStatus== 'READY'  ">                                    
                                    
                                    <button class="btn btn-success" data-ng-hide="item.MonitorStatus =='Running' || item.MonitorStatus =='Stopped'" data-ng-click="Mntr.PerformAction(item,'started')" data-toggle="tooltip" title="Start">
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                    </button>
                                    <button class="btn btn-warning" data-ng-hide="item.MonitorStatus =='Paused' || item.MonitorStatus =='Stopped'" data-ng-click="Mntr.PerformAction(item,'paused')" data-toggle="tooltip" title="Pause">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                    <button class="btn btn-danger" data-ng-show="item.MonitorStatus =='Paused' || item.MonitorStatus =='Stopped'" data-ng-click="Mntr.DeleteDialog(item)" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        
    <script type="text/ng-template" id="MonitorDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="DeleteDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">Please Confirm ...</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.heading}}</pre>
        </div>
        <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="dlgCtrl.Yes()">Yes</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">No</button>
        </div>
    </script>


    <script type="text/ng-template" id="XmlDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div class="modal-body">
            <div style="padding:20px; width:850px; max-height: 400px; overflow:auto; text-wrap:wrap-word;">        
                <pre>{{dlgCtrl.details}}</pre>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
</div>