﻿@{
    ViewBag.Title = "MFTHostConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Queue Managers </h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTQueueManagers.js")"></script>
<div id="angular_Container" data-ng-app="QUEMGR">
    <div data-ng-controller="QueMgrController as quemgr" data-ng-init="quemgr.GetHosts()">

        <div class="row">
                    <div class="panel panel-default panel-primary col-md-6"  >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <label>Select Host</label>
                            </h4>
                        </div>
                        <div  class="panel-body bg-success" >
                            <select class="form-control" data-ng-model="quemgr.selected_Host" 
                             data-ng-options="ddl as ddl.Host_Name for ddl in quemgr.Hostlist "  
                           data-ng-change="quemgr.GetManagers()" ><option value="" >Select Host</option></select>
                        </div>
                    </div>
            </div>


       <div class="container-fluid" data-ng-show="quemgr.ShowManagers" >
         <div data-ng-show="quemgr.showtable">
                <button class="btn btn-primary col-md-offset-9" 
                        data-ng-click="quemgr.CallAdd()">
                    <span class="glyphicon glyphicon-plus-sign"> New Queue Manager
                </span>
                </button>
            </div>
            <div class="col-md-8" data-ng-show="quemgr.showadd">
                <br />
                <span class="label label-primary">QM Name</span>
                <input class="form-control" type="text" data-ng-model="quemgr.QM.QM_Name" />
                <span class="label label-primary">QM Channel</span>
                <input class="form-control" type="text" data-ng-model="quemgr.QM.QM_Channel" />
                <span class="label label-primary">QM Port</span>
                <input class="form-control" type="number" data-ng-model="quemgr.QM.QM_Port" />
                <span class="label label-primary">User ID</span>
                <input class="form-control" type="text" data-ng-model="quemgr.QM.QM_UserID" />
                <span class="label label-primary">Type</span>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">Agent QM:
                    <div class="btn-group">
                                <label class="btn btn-success btn-sm" data-ng-model="quemgr.QM.Is_Agent"  btn-radio="'Y'">YES</label>
                                <label class="btn btn-danger  btn-sm" data-ng-model="quemgr.QM.Is_Agent"  btn-radio="'N'">NO</label>
                        </div>
                        </div>
                   <div class="col-md-3">Command QM: 
                    <div class="btn-group">
                                <label class="btn btn-success btn-sm" data-ng-model="quemgr.QM.Is_Cmnd"  btn-radio="'Y'">YES</label>
                                <label class="btn btn-danger  btn-sm" data-ng-model="quemgr.QM.Is_Cmnd"  btn-radio="'N'">NO</label>
                            </div>
                       </div>
                    <div class="col-md-3" data-ng-show="quemgr.Coordinateqm == false">
                   Coordination QM: 
                    <div class="btn-group" >
                                <label class="btn btn-success btn-sm" data-ng-model="quemgr.QM.Is_Coord"  btn-radio="'Y'">YES</label>
                                <label class="btn btn-danger  btn-sm" data-ng-model="quemgr.QM.Is_Coord"  btn-radio="'N'">NO</label>
                        </div>
                </div>

                </div>
                <br />
                <span class="label label-primary">Active</span>
                <div class="row">
                    &nbsp;&nbsp;&nbsp;      
                    <div class="btn-group">
                                <label class="btn btn-success btn-sm" data-ng-model="quemgr.QM.Is_Active"  btn-radio="'Y'">ACTIVE</label>
                                <label class="btn btn-danger  btn-sm" data-ng-model="quemgr.QM.Is_Active"  btn-radio="'N'">IN-ACTIVE</label>
                            </div>
                </div>
                <br />
                    <div class="col-md-offset-1">
                        <button type="button" class="btn btn-primary btn-sm" data-ng-click="quemgr.PerformAddorUpdate()">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;{{quemgr.savebuttonlabel}}
                                </button>
                                <span class="text-danger">&nbsp;</span>
                            <button type="button" class="btn btn-primary btn-sm" data-ng-click="quemgr.Cancel()">
                                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Cancel
                                </button>            
                    </div>
              </div>
            <br />
            <div class="panel panel-primary" data-ng-show="quemgr.showtable">
                <div class="panel-heading">
                    <pagination total-items="quemgr.resultsObj.totalItems"
                                data-ng-model="quemgr.resultsObj.currentPage"
                                items-per-page="quemgr.resultsObj.pageSize"
                                max-size="quemgr.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="quemgr.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{quemgr.resultsObj.startRecord}} through {{quemgr.resultsObj.endRecord}} out of {{quemgr.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href="" class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{quemgr.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in quemgr.resultsObj.availPageSizes">
                                    <a href="" data-ng-click="quemgr.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-ng-show="false">ID</th>
                                    <th>QM Name</th>
                                    <th>QM Channel</th>
                                    <th>QM Port</th>
                                    <th>User ID</th>
                                    <th>Type</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in quemgr.resultsObj.currentResults.details">
                                <td data-ng-show="false">{{item.QM_ID}}</td>
                                <td>{{ item.QM_Name }}</td>
                                <td>{{ item.QM_Channel }}</td>
                                <td>{{ item.QM_Port }}</td>
                                <td>{{ item.UserID }}</td>
                                <td>
                                    <label class="label label-primary" data-ng-show="item.Is_Agent == 'Y' ">AGENT</label>
                                    <label class="label label-info" data-ng-show="item.Is_Cmnd == 'Y' ">CMND</label>
                                    <label class="label label-danger" data-ng-show="item.Is_Coord == 'Y' ">COORD</label>
                                </td>
                                <td>{{item.Is_Active}}</td>
                                <td class="col-md-1">
                                    <button class="btn btn-primary" data-ng-click="quemgr.PerformEditAction(item)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                   <button class="btn btn-danger" data-ng-click="quemgr.DeleteDialog(item)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="HostDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="DeleteDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">Please Confirm ...</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.heading}}</pre>
        </div>
        <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="dlgCtrl.Yes()">Yes</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">No</button>
        </div>
    </script>   


</div>
