﻿@{
    ViewBag.Title = "MFTSchedulers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Scheduled Transfers</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTScheduler.js")"></script>
<link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
<div id="angular_Scheduler" data-ng-app="Schedulers">
    <div data-ng-controller="SchedulerController as Sdle" data-ng-init="Sdle.GetSchedulers()">
        <div class="container-fluid">
            <div>
                <div data-ng-show="'true'">
                    <a href="@Url.Action("Transfers", "MFT")" class="btn btn-primary col-md-offset-10"><span class="glyphicon glyphicon-plus-sign"> New Schedule</span></a>
                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <pagination total-items="Sdle.resultsObj.totalItems"
                                data-ng-model="Sdle.resultsObj.currentPage"
                                items-per-page="Sdle.resultsObj.pageSize"
                                max-size="Sdle.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="Sdle.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{Sdle.resultsObj.startRecord}} through {{Sdle.resultsObj.endRecord}} out of {{Sdle.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{Sdle.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in Sdle.resultsObj.availPageSizes">
                                    <a href data-ng-click="Sdle.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                    <div class="pull-right">
                        <div class="col-xs-10">
                            <div class="right-inner-addon">
                                <input type="search" class="form-control" placeholder="Search" data-ng-model="Sdle.search" />
                            </div>
                        </div>
                        <div class="pull-right btn-group btn-group-sm">
                            <button class="btn btn-primary" data-ng-click="Sdle.GetSchedulers()" data-toggle="tooltip" title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'Name';Sdle.sortReverse=!Sdle.sortReverse">
                                            ID
                                            <span data-ng-show="Sdle.sortType == 'Name'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'Job';Sdle.sortReverse=!Sdle.sortReverse">
                                            Job Name
                                            <span data-ng-show="Sdle.sortType == 'Job'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'SAgent';Sdle.sortReverse=!Sdle.sortReverse">
                                            Source
                                            <span data-ng-show="Sdle.sortType == 'SAgent'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'DAgent';Sdle.sortReverse=!Sdle.sortReverse">
                                            Destination
                                            <span data-ng-show="Sdle.sortType == 'DAgent'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'Scheduledtime';Sdle.sortReverse=!Sdle.sortReverse">
                                            Scheduled Start (America/Chicago)
                                            <span data-ng-show="Sdle.sortType == 'Scheduledtime'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'RepeatEvery';Sdle.sortReverse=!Sdle.sortReverse">
                                            Repeat Every
                                            <span data-ng-show="Sdle.sortType == 'RepeatEvery'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    @*<th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'Repeattype';Sdle.sortReverse=!Sdle.sortReverse">
                                            Repeat Type
                                            <span data-ng-show="Sdle.sortType == 'Repeattype'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>*@
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'RepeatUntil';Sdle.sortReverse=!Sdle.sortReverse">
                                            Repeat Until
                                            <span data-ng-show="Sdle.sortType == 'RepeatUntil'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" data-ng-click="Sdle.sortType = 'NextTransfer';Sdle.sortReverse=!Sdle.sortReverse">
                                            Next Transfer (America/Chicago)
                                            <span data-ng-show="Sdle.sortType == 'NextTransfer'" data-ng-class="{'fa':true,'fa-caret-down':!Sdle.sortReverse,'fa-caret-up':Sdle.sortReverse}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"></a>
                                    </th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in Sdle.resultsObj.currentResults.details | orderBy:Sdle.sortType:Sdle.sortReverse |filter:Sdle.search">
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Job }}</td>
                                <td>{{item.SAgent}}</td>
                                <td>{{item.DAgent}}</td>
                                <td>{{item.Scheduledtime}}</td>
                                <td>{{ item.RepeatEvery + ' ' + item.Repeattype }}</td>
                                @*<td>{{ item.Repeattype }}</td>*@
                                <td>{{ item.RepeatUntil }}</td>
                                <td>{{ item.NextTransfer }}</td>
                                <td>
                                    <button class="btn btn-primary" data-ng-click="Sdle.ViewXML('Scheduled Transfer',item.Xml)" data-toggle="tooltip" title="Click to view the transfer">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    @*<button class="btn btn-primary" data-ng-click="Sdle.EditTransfer(item)" data-toggle="tooltip" title="Click to edit the transfer">
                                        <span class="glyphicon glyphicon-edit">Edit</span>
                                    </button>*@
                                    <button class="btn btn-danger" data-ng-click="Sdle.DeleteDialog(item)" data-toggle="tooltip" title="Click to delete the transfer">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/ng-template" id="Processing.html">
        <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
            <div class="modal-dialog modal-m">
                <div class="modal-content">
                    <div class="modal-header"><h3 style="margin:0;"></h3></div>
                    <div class="modal-body">
                        <h1>Processing...</h1><div class="progress progress-striped active" style="margin-bottom:0;">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="SchedulerDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="ViewXML.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="DeleteDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">Please Confirm ...</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.heading}}</pre>
        </div>
        <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="dlgCtrl.Yes()">Yes</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">No</button>
        </div>
    </script>   

</div>

