﻿@{
    ViewBag.Title = "MFTTransferLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Transfer Log</h2>

<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTTransferLog.js")"></script>

<div data-ng-app="Transfer" data-ng-controller="MFTTransferLogController as TransCtrl">
    <div class="container-fluid">
       <div data-ng-controller="StartDatepickerCtrl as strt">
        <div class="row">
            <div class="col-md-4">
                <span class="label label-primary">Start Date  </span>
                <p class="input-group">
                    <input type="text" class="form-control"
                           data-datepicker-popup="mediumDate"
                           data-is-open="strt.valuationDatePickerIsOpen"
                           data-ng-click="strt.valuationDatePickerOpen()"
                           data-ng-model="strt.valuationDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                data-ng-click="strt.valuationDatePickerOpen($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            @*<div class="col-md-1">
                <span class="label label-primary">HH </span>
                <select  class="form-control">
                    <option value="00">00</option>
                    <option value="01">01</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="label label-primary">MM </span>
                <select  class="form-control">
                    <option value="00">00</option>
                    <option value="01">01</option>
                </select>
            </div>*@

        </div>
    </div>

    <div data-ng-controller="EndDatepickerCtrl as Ed">
        <div class="row">
            <div class="col-md-4">
                <span class="label label-primary">End Date  </span>
                <p class="input-group">
                    <input type="text" class="form-control"
                           data-datepicker-popup="mediumDate"
                           data-is-open="Ed.valuationDatePickerIsOpen"
                           data-ng-click="Ed.valuationDatePickerOpen()"
                           data-ng-model="Ed.valuationDate" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                data-ng-click="Ed.valuationDatePickerOpen($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
    </div>

         
        <div class="row" data-ng-init="TransCtrl.GetJobNames()">
            <div class="col-md-4">
                <span class="label label-primary">Job Name </span>
                <div class="input-group">                 
                    @*<select class="form-control" data-ng-model="TransCtrl.SelectedJob" 
                         data-ng-options="ddl as ddl for ddl in TransCtrl.JobNames"  
                        ></select>*@
                    <input type="text" class="form-control" data-ng-model="TransCtrl.SelectedJob" 
                        typeahead-editable ="true" placeholder="Enter JobName"
                        data-typeahead="ddl as ddl for ddl in TransCtrl.JobNames | filter: $viewValue" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                           <span class="glyphicon glyphicon-filter"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="ddl in TransCtrl.JobNames">
                                <b><a href="#" data-ng-click="TransCtrl.SelectedJob=ddl">{{ddl}}</a></b>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <br />
        
    <div>
        <button class="btn btn-primary col-md-offset-1" data-ng-click="TransCtrl.GetTransferLogs()">
            Get TransferLogs&nbsp;&nbsp;
            <span class="glyphicon glyphicon-check"></span>
        </button>
    </div>
        </div>
    <div>
        <p></p>
    </div>
    <div class="panel panel-primary" data-ng-show="TransCtrl.showGrid">
        <div class="panel-heading">
            <pagination total-items="TransCtrl.resultsObj.totalItems"
                        data-ng-model="TransCtrl.resultsObj.currentPage"
                        items-per-page="TransCtrl.resultsObj.pageSize"
                        max-size="TransCtrl.resultsObj.numPages"
                        boundary-links="true"
                        class="pull-left pagination-sm"
                        data-ng-change="TransCtrl.resultsObj.pageChanged()">
            </pagination>
            &nbsp;&nbsp;
            <span class="Grid_Panel_header">Displaying {{TransCtrl.resultsObj.startRecord}} through {{TransCtrl.resultsObj.endRecord}} out of {{TransCtrl.resultsObj.totalItems}}</span>
            <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                <span class="dropdown" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        {{TransCtrl.resultsObj.pageSize}} Results Per Page
                    </a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="result in TransCtrl.resultsObj.availPageSizes">
                            <a href data-ng-click="TransCtrl.resultsObj.setPageSize(result)">{{result}}</a>
                        </li>
                    </ul>
                </span>
            </button>
            <div class="pull-right">
                <div class="col-xs-10">
                    <div class="right-inner-addon">
                        <input type="search"
                               class="form-control"
                               placeholder="Search" data-ng-model="TransCtrl.search" />
                    </div>
                </div>
                <div class="pull-right btn-group btn-group-sm">
                    <button class="btn btn-primary" data-ng-click="TransCtrl.GetTransferLogs()" data-toggle="tooltip" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body ">
            <div class="panel panel-default">
                <div class="grid-table">
                    <table class="table table-striped table-bordered table-responsive" data-ng-style="{ width: th.width}">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'JobName';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Job Name
                                        <span data-ng-show="TransCtrl.sortType == 'JobName'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'SourceSystem';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Source Agent
                                        <span data-ng-show="TransCtrl.sortType == 'SourceSystem'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'TargetSystem';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Target Agent
                                        <span data-ng-show="TransCtrl.sortType == 'TargetSystem'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'StartTime';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Start Date & Time
                                        <span data-ng-show="TransCtrl.sortType == 'StartTime'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'EndTime';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        End Date & Time
                                        <span data-ng-show="TransCtrl.sortType == 'EndTime'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'SourceFile';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Source File
                                        <span data-ng-show="TransCtrl.sortType == 'SourceFile'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'DestinationFile';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Destination File
                                        <span data-ng-show="TransCtrl.sortType == 'DestinationFile'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" data-ng-click="TransCtrl.sortType = 'TimeElapsed';TransCtrl.sortReverse=!TransCtrl.sortReverse">
                                        Time Elapsed
                                        <span data-ng-show="TransCtrl.sortType == 'TimeElapsed'" data-ng-class="{'fa':true,'fa-caret-down':!TransCtrl.sortReverse,'fa-caret-up':TransCtrl.sortReverse}"></span>
                                    </a>
                                </th>
                                <th><a href="#">Status</a></th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="gridRow in TransCtrl.resultsObj.currentResults.details | orderBy:TransCtrl.sortType:TransCtrl.sortReverse |filter:TransCtrl.search">
                            <td>{{ gridRow.JobName }}</td>
                            <td>{{ gridRow.SourceSystem }}</td>
                            <td>{{ gridRow.TargetSystem }}</td>
                            <td>{{ gridRow.StartTime }}</td>
                            <td>{{ gridRow.EndTime }}</td>
                            <td>{{ gridRow.SourceFile }}</td>
                            <td>{{ gridRow.DestinationFile }}</td>
                            <td>{{ gridRow.TimeElapsed }}</td>
                            <td>
                                <button data-ng-class="{'btn':true,'btn-success':gridRow.Status == 'success','btn-warning':gridRow.Status == 'partial success','btn-danger':gridRow.Status == 'failure','btn-info':gridRow.Status=='cancelled'}"
                                        data-ng-click="TransCtrl.Showdetails(gridRow)" data-toggle="tooltip" title="Click to view details">
                                    <span data-ng-class="{'glyphicon':true, 'glyphicon-ok-circle' :  gridRow.Status == 'success' || gridRow.Status == 'partial success'
                                          , 'glyphicon-exclamation-sign' :  gridRow.Status == 'failure','glyphicon-minus' :  gridRow.Status == 'cancelled'}"></span>
                                </button>
                                <button class="btn btn-primary" data-ng-show="{{gridRow.Status=='failure'}}" data-ng-click="TransCtrl.ReplayDialog(gridRow)">
                                    Replay
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" data-ng-show="TransCtrl.showGrid">
        <h2>Charts</h2>
        <div class="col-lg-6" fusioncharts
             width="600"
             height="400"
             type="pie2d"
             datasource="{{TransCtrl.TransferLogsChartColumn2DSource}}"
             events="TransCtrl.pieevent">

        </div>
        <div class="col-lg-6" fusioncharts
             width="600"
             height="400"
             type="column3d"
             datasource="{{TransCtrl.TransferLogsChartColumn2DSource}}"
             events="TransCtrl.pieevent">
        </div>
    </div>
    <div></div>
    <div class="col-lg-12" data-ng-show="TransCtrl.showGrid">
        <div class="col-lg-6" fusioncharts
             width="600"
             height="400"
             type="line"
             datasource="{{TransCtrl.TransferLogsChartColumn2DSource}}"
             events="TransCtrl.pieevent">
        </div>
        <div class="col-lg-6" fusioncharts
             width="600"
             height="400"
             type="bar3d"
             datasource="{{TransCtrl.TransferLogsChartColumn2DSource}}"
             events="TransCtrl.pieevent">
        </div>
    </div>



    <script type="text/ng-template" id="Transferdetails.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><b>Job Name</b></td>
                        <td>{{dlgCtrl.details.JobName}}</td>
                    </tr>
                    <tr>
                        <td><b>Transfer ID</b></td>
                        <td>{{dlgCtrl.details.TransferID}}</td>
                    </tr>
                    <tr>
                        <td><b>Overall Result</b></td>
                        <td>{{dlgCtrl.details.OverAllResult}}</td>

                    <tr>
                        <td><b>Source Agent</b></td>
                        <td>{{dlgCtrl.details.SourceSystem}}</td>
                    </tr>
                    <tr>
                        <td><b>Target Agent</b></td>
                        <td>{{dlgCtrl.details.TargetSystem}}</td>
                    </tr>

                    <tr>
                        <td><b>Overall Result Text</b></td>
                        <td>{{dlgCtrl.details.OverAllResultText}}</td>
                    </tr>
                    <tr>
                        <td><b>Start Time</b></td>
                        <td>{{dlgCtrl.details.StartTime}}</td>
                    </tr>
                    <tr>
                        <td><b>End Time</b></td>
                        <td>{{dlgCtrl.details.EndTime}}</td>

                    <tr>
                        <td><b>Source File</b></td>
                        <td>{{dlgCtrl.details.SourceFile}}</td>
                    </tr>
                    <tr>
                        <td><b>Source File Size</b></td>
                        <td>{{dlgCtrl.details.SourceFileSize}}</td>
                    </tr>
                    <tr>
                        <td><b>Destination File</b></td>
                        <td>{{dlgCtrl.details.DestinationFile}}</td>

                    <tr>
                        <td><b>Destination File Size</b></td>
                        <td>{{dlgCtrl.details.DestinationFileSize}}</td>
                    </tr>
                    <tr>
                        <td><b>Number Of Files</b></td>
                        <td>{{dlgCtrl.details.NumberOfFiles}}</td>
                    </tr>
                    <tr>
                        <td><b>File Result</b></td>
                        <td>{{dlgCtrl.details.FileResult}}</td>
                    </tr>
                    <tr>
                        <td><b>File Result Message</b></td>
                        <td>{{dlgCtrl.details.FileResultMessage}}</td>
                    </tr>
                    <tr>
                        <td><b>Status</b></td>
                        <td>
                            <span  ng-class="{'label':true,'label-success':dlgCtrl.details.Status == 'success','label-warning':dlgCtrl.details.Status == 'partial success','label-danger':dlgCtrl.details.Status == 'failure','label-info':dlgCtrl.details.Status == 'cancelled'}">
                                {{dlgCtrl.details.Status}}
                            </span>
                            @*<button data-ng-disabled="true" ng-class="{'btn':true,'btn-success':dlgCtrl.details.Status == 'success','btn-warning':dlgCtrl.details.Status == 'partial success','btn-danger':dlgCtrl.details.Status == 'failure','btn-info':dlgCtrl.details.Status == 'cancelled'}">
                                {{dlgCtrl.details.Status}}
                            </button>*@

                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="TransferDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="ReplayDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div class="modal-body" data-ng-show="dlgCtrl.details.FileResultMessage.includes('already exists')">
            Overwrite Destination file (if exists): &nbsp;
                    <div class="btn-group">
                                <label class="btn btn-success btn-sm" data-ng-model="dlgCtrl.ReplayOptions.TargetExists"  btn-radio="'overwrite'">YES</label>
                                <label class="btn btn-danger  btn-sm" data-ng-model="dlgCtrl.ReplayOptions.TargetExists"  btn-radio="'error'">NO</label>
                        </div>
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" data-ng-click="dlgCtrl.Replay()">Replay</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">Cancel</button>
        </div>
    </script>

</div>

