﻿@{
    ViewBag.Title = "MFTUserExitConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> User Exit Configuration</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/MFT/MFTUserExitConfig.js")"></script>
<div id="angular_Container" data-ng-app="USREXTCFG">
    <div data-ng-controller="USREXTController as usrextcfg" data-ng-init="usrextcfg.GetUxt_Types();">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <span class="label label-primary">User Exit Type</span>
                    <select class="form-control"
                            data-ng-model="usrextcfg.UserExitTypeCode" data-ng-options="ddl.Id as ddl.Exit_Value for ddl in usrextcfg.UserExitTypes" data-ng-change="usrextcfg.GetUserExitValues(usrextcfg.UserExitTypeCode)">
                        <option value="">[ Select an Item ]</option>
                    </select>
                </div>
            </div>
            <div data-ng-show="usrextcfg.showtable">
                <button class="btn btn-primary col-md-offset-11" data-ng-click="usrextcfg.CallAdd()"><span class="glyphicon glyphicon-plus-sign">Add</span></button>
            </div>
            <div class="col-md-4" data-ng-show="usrextcfg.showadd">
                <br />
                <span class="label label-primary">User Exit Name</span>
                <input class="form-control" type="text" data-ng-model="usrextcfg.Uxt.Exit_Value" />
                <br />
                <span class="label label-primary">User Exit Params</span>
                <table class="table col-md-6">
                    <thead>
                        <tr>
                            <th>Param</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="prm in usrextcfg.Uxt.Params">
                            <td>{{prm}}</td>
                            <td><button data-ng-click="usrextcfg.DeleteParam($index)" class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-remove-sign">
                                </button></td>
                        </tr>
                        <tr>
                            <td><input type="text" data-ng-model="usrextcfg.Uxt.NewParam" /></td>
                            <td><button data-ng-click="usrextcfg.AddParam()"  class="btn btn-xs btn-success">
                                <span class="glyphicon glyphicon-plus">
                                </button></td>
                        </tr>
                    </tbody>

                </table>
                <br />
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="usrextcfg.PerformAddorUpdate()">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;{{usrextcfg.savebuttonlabel}}
                </button>
                <span class="text-danger">&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="usrextcfg.Cancel()">
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Cancel
                </button>

            </div>
            <br />
            <div class="panel panel-primary" data-ng-show="usrextcfg.showtable">
                <div class="panel-heading">
                    <pagination total-items="usrextcfg.resultsObj.totalItems"
                                data-ng-model="usrextcfg.resultsObj.currentPage"
                                items-per-page="usrextcfg.resultsObj.pageSize"
                                max-size="usrextcfg.resultsObj.numPages"
                                boundary-links="true"
                                class="pull-left pagination-sm"
                                data-ng-change="usrextcfg.resultsObj.pageChanged()">
                    </pagination>
                    &nbsp;&nbsp;
                    <span class="Grid_Panel_header">Displaying {{usrextcfg.resultsObj.startRecord}} through {{usrextcfg.resultsObj.endRecord}} out of {{usrextcfg.resultsObj.totalItems}}</span>
                    <button type="button" class="btn btn-default btn-sm" title="Results Per Page">
                        <span class="dropdown" dropdown>
                            <a href="" class="dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                {{usrextcfg.resultsObj.pageSize}} Results Per Page
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="result in usrextcfg.resultsObj.availPageSizes">
                                    <a href="" data-ng-click="usrextcfg.resultsObj.setPageSize(result)">{{result}}</a>
                                </li>
                            </ul>
                        </span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-ng-show="false">id</th>
                                    <th data-ng-show="false">Exit_id</th>
                                    <th>Name</th>
                                    <th style="word-wrap: break-word;">Params</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in usrextcfg.resultsObj.currentResults.details">
                                <td data-ng-show="false">{{item.ID}}</td>
                                <td data-ng-show="false">{{ item.Exit_id }}</td>
                                <td>{{ item.Exit_Value }}</td>
                                <td>{{ item.Exit_Params }}</td>
                                <td>
                                    <button class="btn btn-primary" data-ng-click="usrextcfg.PerformEditAction(item)">
                                        <span class="glyphicon glyphicon-edit">Edit</span>
                                    </button>
                                    <button class="btn btn-danger" data-ng-click="usrextcfg.DeleteDialog(item)">
                                        <span class="glyphicon glyphicon-remove">Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="UserExitDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">{{ dlgCtrl.heading }}</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.details}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="dlgCtrl.Close()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="DeleteDialog.html">
        <div class="modal-header label-info">
            <h2 class="modal-title label label-info">Please Confirm ...</h2>
        </div>
        <div>
            <pre>{{dlgCtrl.heading}}</pre>
        </div>
        <div class="modal-footer">
    <button class="btn btn-success" data-ng-click="dlgCtrl.Yes()">Yes</button>
            <button class="btn btn-warning" data-ng-click="dlgCtrl.Close()">No</button>
        </div>
    </script>

</div>
