﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}

<br /><br /><br />
<form id="form1" action="@Url.Action("Index","DB")">
<textarea id="query" name="query" style="width: 80%; height: 100px;">@ViewBag.query </textarea>
    <br /><br />
    <button ie="submit" type="submit" name="submit">Submit</button>
    </form>