﻿<!DOCTYPE html>

<html lang="en">
<head>
    <title>MFT Explorer</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        @*<link href="~/Content/Site.css" rel="stylesheet">*@
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet">*@

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">    </script>
    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">*@
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">    </script>



    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
   
  
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>*@
   
    <script src="~/fusioncharts/fusioncharts.js"></script>
    <script src="~/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
    <script src="~/fusioncharts/angular-fusioncharts.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script type="text/ecmascript">
        var GlobalConstants = {
            Success: 0,
            Failure: 1,
            Unknown: 2,
            ActionSuccessMessage: "Request processed successfully.",
            ActionFailureMessage: "Request cannot be processed, Please try again."
        }
        var GlobalURLs = {
            AgentsList: "@Url.Action("GetAgents", "MFT")",
            QueuesList: "@Url.Action("GetAllQueues", "MFT")",
            QueueManagersList: "@Url.Action("GetAllQueueManagers", "MFT")",
            QueueManagersByHost: "@Url.Action("GetQueueManagers", "MFT")",
            SaveQueueManager: "@Url.Action("SaveQueueManager", "MFT")",
            DeleteQueueManager: "@Url.Action("DeleteQM", "MFT")",
            MonitorsList: "@Url.Action("GetMonitors", "MFT")",
            SaveHost: "@Url.Action("SaveHost", "MFT")",
            DeleteHost: "@Url.Action("DeleteHost", "MFT")",

            HostsList: "@Url.Action("GetHosts", "MFT")",
            PerformMonitorAction: "@Url.Action("PerformMonitorAction", "MFT")",
            GetAgents_QMgrs: "@Url.Action("GetAgents_QMgrs", "MFT")",
            UserExitsList: "@Url.Action("GetUserExits", "MFT")",
            QueuesByManager: "@Url.Action("GetQueues", "MFT")",
            Monitordetails: "@Url.Action("GetMonitordetails", "MFT")",
            BuildMonitor: "@Url.Action("BuildMonitor", "MFT")",
            ScheduledTransfersList: "@Url.Action("GetScheduledTransfers", "MFT")",
            DeleteScheduledTransfer: "@Url.Action("DeleteTransfer", "MFT")",
            TransferLogsList: "@Url.Action("GetTransferLogs", "MFT")",
            JobNamesList: "@Url.Action("GetJobNames", "MFT")",
            PerformReplay: "@Url.Action("PerformReplay", "MFT")",
            UserExitTypesList: "@Url.Action("GetUserExitTypes", "MFT")",
            SaveUserExits: "@Url.Action("SaveUserExits", "MFT")",
            UserExitDetails: "@Url.Action("GetUserExitValues", "MFT")"
        };
    </script>    

</head>
<body>
    <div>
        <div class="container-fluid navbar navbar-inverse">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>MFT Explorer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-2">
            <div class="nav nav-list navbar">
                <li class="active">@Html.ActionLink("Home", "Contact", "Home")</li>
                <li>@Html.ActionLink("Agents", "Agents", "MFT")</li>
                <li>@Html.ActionLink("Monitors", "Monitors", "MFT")</li>
                <li>@Html.ActionLink("Queues", "Queues", "MFT")</li>
                <li>@Html.ActionLink("Transfer / Monitor", "Transfers", "MFT")</li>
                <li>@Html.ActionLink("Scheduled Transfers", "Schedules", "MFT")</li>
                <li>@Html.ActionLink("Transfer Log", "TransferLog", "MFT")</li>
                 <ul class="nav nav-stacked" id="menu-bar">
                        <li class="panel dropdown">
                            <a data-toggle="collapse" data-parent="#menu-bar" href="#collapseOne" id="menu-bar1">
                                Admin
                            </a>
                            <ul id="collapseOne">
                                <li>@Html.ActionLink("Host Configuration", "HostConfig", "MFT")</li>
                                <li>@Html.ActionLink("Queue Managers", "QueueManagers", "MFT")</li>
                                <li>@Html.ActionLink("User Exit Configuration", "UserExitS", "MFT")</li>
                                <li>@Html.ActionLink("User Role Configuration", "Index", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                
            </div>
        </div>
        <div class="col-lg-10">
            @RenderBody()
            <br /><br /><br /><br /><br />
        </div>
    </div>
</body>
</html>

