﻿<!DOCTYPE html>

<html lang="en">
<head>
    <title>MFT Explorer</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        @*<link href="~/Content/Site.css" rel="stylesheet">*@
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet">*@

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">    </script>
    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">*@
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">    </script>



    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
   
  
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>*@
   
    <script src="~/fusioncharts/fusioncharts.js"></script>
    <script src="~/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
    <script src="~/fusioncharts/angular-fusioncharts.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
</head>
<body>
    <div style="position: fixed; top:0; width: 100%; z-index: 100">
        <div class="container-fluid navbar navbar-inverse">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="page-header row">
                        <div class="col-md-4"><span class="h1">MFT Explorer</span></div>
                        <div class="col-md-8 btn-group">                    
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-default">Home</a>
                    <a href="@Url.Action("MFTAgent", "MFTAgent")" class="btn btn-default">Agents</a>
                    <a href="@Url.Action("MFTMonitor", "MFTMonitor")" class="btn btn-default">Monitors</a>
                    <a href="@Url.Action("MFTQueue", "MFTQueue")" class="btn btn-default">Queues</a>
                    <a href="@Url.Action("MFTMonitorCreation", "MFTMonitorCreation")" class="btn btn-default">Transfers</a>
                    <a href="@Url.Action("MFTScheduler", "MFTScheduler")" class="btn btn-default">Schedules</a>
                    <a href="@Url.Action("MFTTransferLog", "MFTTransferLog")" class="btn btn-default">Transfer Log</a>
                    <span class="btn-group pull-right">
                        <a href="#" onclick="return false" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Admin Option</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("MFTHostConfig", "MFTHostConfig")" class="btn btn-default">Host Configuration</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MFTUserExitConfig", "MFTUserExitConfig")" class="btn btn-default">User Exits Configuration</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-default">User Role Configuration</a>
                            </li>
                        </ul>
                    </span>
                </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div style="width:100%; height:150px;">
        <br />
    </div>
    <div>
        <div class="col-lg-12">
            @RenderBody()
            <br /><br /><br />
        </div>

    </div>

</body>
</html>

